/* General layout */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/math.jpg');
  background: 'linear-gradient(145deg, #001f3f, #013a65),url('/maths.jpg')';
  font-family: 'Arial', sans-serif;
}

.counter-button {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 17px;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.counter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  width: 250px;
  height: 60px;
}

.counter-value-box {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  width: 40px;
  text-align: center;
}

.circle {
  background-color: #0056b3;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.increment-label {
  font-size: 16px;
  color: white;
}

/* Context Menu Styling */
.context-menu {
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  color: white;
  z-index: 10;
}

.context-menu button {
  display: block;
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px 0;
  width: 100%;
  cursor: pointer;
}

.context-menu button:hover {
  background-color: #004494;
}
